/* ADMIN TABLE */
.content-wrapper{
    background-color:#fff;
  
  }
.card-pages {
    box-shadow: none !important;
}
.old td{
    font-size: 12px;
    text-align: start;
}
.table th{
    padding: 10px;
    text-align: center;
    vertical-align:middle !important;
}
.table td{
    padding: 10px;
    vertical-align: middle;
}
thead th , tfoot th{
    font-size: 14px;
    color: rgb(255, 0, 0);
    background-color:antiquewhite;
}
th a i {
    font-size: 12px;
  }
th a {
    font-size: 12px;
}
.card-header{
    padding: 10px;
}
.card-body-pages{
    padding: 0px;
}
.card-pd{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #bababa;
    background-color: rgb(240, 255, 255)
}
/* LANGUAGE */
.dropdown-menu{
    min-width: 50px;
  }
  .dropdown-menu a {
    width: 100%;
    /* border-bottom: 1px solid red; */
    text-align: center;
    padding: 20px;
  }
  .url_picture {
      border-radius: none!important;
      font-size:12px;

  }

ul .item{
    display: none;
}
.div-loadmore{
    margin: auto;
    text-align: center;
    margin: 10px;
}
.created_at{
    display: none;
}
.item-user{
    display: none;
}
/* ADD */
.add{
    display: flex;
    justify-content:space-around;
}
.add a button i{
    margin: 0 10px 0 5px ;
}
.add a button i{
    color: #fff;
}
.add .add-item button{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add .trash-item button{
    background-image: radial-gradient(red, yellow);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-ok{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-user img{
    width:100px;
}
/* MODAL */
.dropdown-menu label p{
    margin: 0 !important;
    font-weight: 400;
  }
  .modal-body {
    padding: 50px;
  }
  .modal-img{
    border:1px solid #bababa;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .modal-dialog-centered{
    justify-content: center;
  }
  .dropdown-menu {
    top: 15px !important;
  }
  .dropdown-iteam{
    text-align: start !important;
    display: block;
    width: 100%;
    padding: 5px 10px !important;
    font-weight: 400;
    font-size:13px;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }

  /* SEACH CONTACT */
  form .div-input{
    border: 1px solid #bababa;
    border-radius:10px;
    padding: 5px;
    margin-bottom:10px; 
  }
  form .div-input input{
   border: none;
  }
  .input-scr{
    margin-left: -20px; 
  }
  .wh-50 {
    width: 100px;
    height:80px;
}
.wh-100 {
  width: 300px;
  height:160px;
}
.table-bordered{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-user-img {
  width: 130px !important;
  height: 130px !important;
}