.container , .add-type{
    display: flex;
    justify-content:center;
}
.add-type{
    color: #a5cbef;
    background: -webkit-gradient(linear,left top,right top,from(#f78c12),to(#ff005d));
    background: linear-gradient(to right,#f78c12,#fa0660);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.content{
    background-color: rgb(207, 239, 243);
    width:50%;
    border: 1px solid #bababa;
    box-shadow: #686666;
    border-radius:5px;
    padding: 30px 30px 50px 30px;
}
.content input{
    border-radius: 10px ;
}
.content select{
    border-radius:10px;
}
.content select option{
    border-radius:10px;
}
#description {
    width: 100%;
    height:auto;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    padding : 10px;
}